<ng-template #etiquette> if=>false </ng-template>

<div
  *ngIf="variableIf; else etiquette"
  [ngClass]="{ vert: texte == 'vert', rouge: texte == 'rouge' }"
>
  if=>true
</div>
<div>une div avec des truc dedans</div>
<div>
  <input [(ngModel)]="texte" />
  <ul>
    <li *ngFor="let nom of nomsFiltre(); let index = index">
      {{ index }} {{ nom }}
    </li>
  </ul>

  <table>
    <tr *ngFor="let p of produits">
      <td>{{ p.nom }}</td>
      <td>{{ p.prix }}</td>
    </tr>
  </table>
</div>
