<nav>
  <app-link etiquetteLien="home" lien="/home"></app-link>
  <ng-container *ngIf="admin">
    <app-link etiquetteLien="produit" lien="/produit"></app-link>
    <app-link etiquetteLien="client" lien="/client"></app-link>
    <app-link etiquetteLien="fournisseur" lien="/fournisseur"></app-link>
  </ng-container>
  <ng-container *ngIf="user">
    <app-link etiquetteLien="commander" lien="/achat"></app-link>
  </ng-container>
  <ng-container *ngIf="!logged">
    <app-link etiquetteLien="inscription" lien="/formulaire"></app-link>
    <app-link etiquetteLien="connexion" lien="/login"></app-link>
  </ng-container>
  <button *ngIf="logged" class="btn btn-link" (click)="logout()">
    deconnexion
  </button>
</nav>
